---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1 class="project-title">{{ page.title }}</h1>
  {% if page.date %}
    <p class="post-date text-bold">
      <span class="text-upcase">{{ page.date | date: "%B %Y"}}</span>
    </p>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}